<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping resource="com/hzih/sslvpn/domain/xml/Account.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/Role.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/Permission.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/SafePolicy.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/UserOperLog.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/User.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/Log.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/SourceNet.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/Groups.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/UserGroup.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/Server.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/StaticIp.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/TrustCertificate.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/ServerCertificate.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/UserGps.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/BackUp.hbm.xml"/>
        <mapping resource="com/hzih/sslvpn/domain/xml/EquipmentLog.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
